<!DOCTYPE html>
<html lang="vi">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <title>Thêm lịch trình</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    
  </head>

  <body id="page-top" style="height: 450px">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a href="index.html" class="navbar-brand">Intelligent Tourist</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="group.html" class="nav-link">Nhóm</a>
            </li>
			<li class="nav-item">
              <a href="plan-home.html" class="nav-link">Lịch trình</a>
            </li>
			<li class="nav-item">
              <a href="notification.html" class="nav-link">Thông báo</a>
            </li>
			<li class="nav-item">
              <a href="profile.html" class="nav-link">Cá nhân</a>
            </li>
			 <li class="nav-item">
              <a href="login.html" class="nav-link">Đăng nhập</a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="text-center text-black d-flex" style="height: 150px; margin-top: 100px">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
			<img src="img/map.png" style="height: 60px">
			<br>
            <h4 class="text-uppercase" style="font-size: 25px">
              <strong>Thêm lịch trình</strong>
            </h4>
            <hr>
          </div>
        </div>
      </div>
    </header>
   		
	<!-- Result item -->
	<div class="result_item_box">
		<div class="container" style="height: 320px; text-align: center">
			<h5 style="padding-top: 20px"></h5>
			<div class="col-lg-8 mx-auto search-box-2">
				<input class="search-text" type="text" name="" placeholder="Tên Lịch trình.." autocomplete="on" required v-model="nameInput">
          	</div>
			<br>
			<h5 style="padding-top: 40px"></h5>
			<div class="col-lg-8 mx-auto search-box-2">
				<form style="font-size: 16px; padding-left: 5px; font-style: normal; opacity: 0.7">
				Bắt đầu:
				<input type="date" name="bday" v-model="startDateInput">
				</form>
          	</div>
			<br>
			<h5 style="padding-top: 40px"></h5>
			<div class="col-lg-8 mx-auto search-box-2">
				<form style="font-size: 16px; padding-left: 5px; font-style: normal; opacity: 0.7">
				Kết thúc:
				<input type="date" name="bday" v-model="endDateInput">
				</form>
          	</div>
			<br>
			<br>
			<table style="width: 100%">
				<td>
					<button class="btn btn-primary" style="margin-top: 20px; width: 150px" v-on:click="createPlan">Xác nhận</button>
				<td>
				<td>
					<button class="btn" onclick="myFunction()" style="margin-top: 20px; background-color: red; color: white; width: 150px">Thoát</button>
  			</div>
				</td>
			</table>
			<br>
  		</div>
	</div>
  <!-- End Result item -->
   
	<footer>
		<a class="btn btn-dark btn-xl text-white" style="margin: 20px 20px 20px 10px" id="div-buy">Liên hệ đăng ký địa điểm</a>
		<div class="footer">
			<h6>Email:</h6>
			<h6>Số điện thoại: </h6>
		</div>
	</footer>
	
	<script>
	function myFunction() {
        confirm("Xác nhận thoát?");
	}
	</script>
	
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <!---->
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
    <!--Firebase config-->
    <script src='./tlp/firebaseConfig.js'></script>
    <!--Store-->
    <script src='./tlp/vuexStore.js'></script>
    <!--Page logic-->
    <script src='./tlp/src/add-plan.js'></script>


  </body>
</html>