<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <style>
        .checkbox .input-group__details {
            display: none;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
    <v-app dark v-cloak>
        <v-content>
            <v-container px-1>
                <v-layout justify-center wrap>
                    <v-flex xs12 md6 lg4>
                        <h5 class="display-1">Chọn loại hình bạn muốn được gợi ý: </h5>
                        <v-expansion-panel expand popout v-if="generalCategories">
                            <v-expansion-panel-content
                                    v-for="(category,i) in generalCategories" :key="i">
                                <!--<div slot="header">{{item.name}}</div>-->
                                <v-checkbox
                                        slot="header"
                                        v-model="selectedCategory"
                                        @click.stop=""
                                        :value="category.id"
                                        :label="category.text">
                                </v-checkbox>
                                <v-card>
                                    <v-layout column>
                                        <v-flex xs12
                                                v-for="(question,i) in category.questions"
                                                :key="`question_${i}`">
                                            <v-card-title class="pb-0">
                                                {{question.text}}
                                            </v-card-title>
                                            <v-container>
                                                <v-checkbox
                                                        v-for="(answer,i) in question.answers"
                                                        :key="`answer_${i}`"
                                                        :label="answer.text"
                                                        :value="answer.id"
                                                        v-model="selectedAnswers">
                                                </v-checkbox>
                                            </v-container>
                                            <v-divider></v-divider>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <h4 v-else>loading...</h4>
                    </v-flex>
                    <!--<v-flex xs12 md6 lg4 >-->
                        <!--<v-btn color='success' >Submit</v-btn>-->
                        <!--<v-btn color='secondary' >Cancel</v-btn>-->
                    <!--</v-flex>-->
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
    //var csv is the CSV file with headers
    function csvJSON(csv) {
        return new Promise((resolve, reject) => {
            const lines = csv.split("\n");
            const result = [];
            const headers = lines[0].split(",");

            for (let i = 1; i < lines.length; i++) {
                let obj = csvLineToObj(lines[i], headers);
                if (obj) {
                    result.push(obj);
                }
            }
            resolve(result); //JSON
        });

    }

    function csvLineToObj(line, headers) {
        let obj = {};
        let currentLine = line.split(",");
        let undefinedCount = 0;

        for (let j = 0; j < headers.length; j++) {
            if (!currentLine[j]) {
                undefinedCount++;
            }
            obj[headers[j]] = currentLine[j];
        }

        return undefinedCount === headers.length ? null : obj;
    }
</script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                generalCategories: [],
                selectedCategory: [],
                selectedAnswers: []
            }
        },
        created() {
            this.loadData();
        },
        methods: {
            panelClick($event, index, item) {
                const category = this.generalCategories[index];
                category.selected = !category.selected;
                Vue.set(this.generalCategories, index, category)
            },

            async loadData() {
                const questions = await csvJSON(
                    'id,text,parent\n' +
                    '1,ăn uống,\n' +
                    '2,địa điểm thăm quan,\n' +
                    '3,Mua sắm,\n' +
                    '4,Nơi ở,\n' +
                    '5,Loại hình ăn uống,1\n' +
                    '6,Loại hình thăm quan,2\n' +
                    '7,Loại nơi ở,4\n' +
                    '8,Loại hình mua sắm,3\n' +
                    '9,Tiện nghi ăn uống,1\n' +
                    '10,Buổi phục vụ,1\n' +
                    '11,Mức giá,1\n' +
                    '12,Tiện nghi nơi ở,4\n');
                const answers = await csvJSON(
                    'id,text,question\n' +
                    '1,Nhà hàng,5\n' +
                    '2,Ăn vặt vỉa hè,5\n' +
                    '3,Café/dessert,5\n' +
                    '4,Quán ăn,5\n' +
                    '5,Ăn chay,5\n' +
                    '6,Đặt chỗ,9\n' +
                    '7,Wifi,9\n' +
                    '8,Có bãi đỗ xe,9\n' +
                    '9,Thanh toán thẻ,9\n' +
                    '10,Giao hàng,9\n' +
                    '11,Lối ra vào xe lăn,9\n' +
                    '12,Bữa sáng,10\n' +
                    '13,Bữa trưa,10\n' +
                    '14,Bữa tối,10\n' +
                    '15,Đêm muộn,10\n' +
                    '16,đồ ăn giá rẻ,11\n' +
                    '17,hạng trung,11\n' +
                    '18,sang trọng,11\n' +
                    '19,danh lam thắng cảnh,6\n' +
                    '20,chùa/nhà thờ,6\n' +
                    '21,du lịch sinh thái,6\n' +
                    '22,bảo tàng/di tích,6\n' +
                    '23,vui chơi/giải trí,6\n' +
                    '25,Khách sạn,7\n' +
                    '26,Homestay,7\n' +
                    '27,Căn hộ,7\n' +
                    '28,Nhà nghỉ,7\n' +
                    '29,Wifi,12\n' +
                    '30,Gym,12\n' +
                    '31,Hồ bơi,12\n' +
                    '32,Cho phép pet,12\n' +
                    '33,Dịch vụ phòng,12\n' +
                    '34,Điều hòa,12\n' +
                    '35,Spa,12\n' +
                    '36,shop/cửa hàng,8\n' +
                    '37,siêu thị,8\n' +
                    '38,trung tâm thương mại,8\n' +
                    '39,chợ,8\n');

                for (let answer of answers) {
                    for (let question of questions) {
                        if (answer.question === question.id) {
                            if (question.answers) {
                                question.answers.push(answer);
                            } else {
                                question.answers = [answer];
                            }
                        }
                    }
                }

                let result = [];
                for (let question of questions) {
                    if (!question.parent) {
                        result.push(question);
                    }
                }

                for (let question of questions) {
                    if (question.parent) {
                        let parent = result.find((q) => {
                            return q.id === question.parent
                        });
                        if (parent.questions) {
                            parent.questions.push(question);
                        } else {
                            parent.questions = [question];
                        }
                    }
                }


                this.generalCategories = result;
            }
        },
    })
</script>
</body>
</html>